.search_style {
  width: 20%;
  margin: 0;
  padding: 0.5% 1%;
  border-radius: 50px;
  background-image: linear-gradient(white, #89cff0);
  font-size: 20px;
  outline: none;
  border: solid 2px #6cb4ee;
}

::placeholder {
  color: black;
}

.search_dropdown_label_style {
  color: white;
  padding: 1% 0 0 3%;
}

.search_dropdown_item_style {
  border-radius: 50px;
  background-color: #89cff0;
  border-top: solid 0.2px #198754;
}

.search_dropdown_item_style:hover {
  background-color: #6cb4ee;
}
